* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 100vw;
    min-height: 100vh;
}

/* All links with the same style*/
a {
    color: #f9f9f9;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header-navbar'
        'main'
        'footer';
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.header-navbar {
    grid-area: header-navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #4CAF50;
    color: #f9f9f9;
}

.header-navbar h2 {
    margin: 0;
}

.header-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Horizontal navigation */
}

.header-navbar li {
    margin: 0 10px; /* Space between navigation items */
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    flex: 1;
    background-color: #000;
    color: #f9f9f9;
}

main h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    max-width: 500px; /* Set a max-width for the log in form */
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    display: grid;
    grid-template-areas:
    'email-label email-input'
    'password-label password-input'
    'login-button checkbox-container'
    'signin-button signin-button';
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    gap: 10px;
}

/* Style for all divs inside form-container */
.form-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5px 0;
}

.form-container .email-label {
    grid-area: email-label;
    font-weight: bold;
    text-align: right;
    color: #f9f9f9;
}

.form-container .email-input {
    grid-area: email-input;
    text-align: left;
}

.form-container .password-label {
    grid-area: password-label;
    font-weight: bold;
    text-align: right;
    color: #f9f9f9;
}

.form-container .password-input {
    grid-area: password-input;
    text-align: left;
}

.form-container .login-button {
    grid-area: login-button;
    text-align: right;
}

.form-container .checkbox-container {
    grid-area: checkbox-container;
    display: flex;
    align-items: center;
    gap: 5px; /* Space between checkbox and label*/
}

.form-container .signin-button {
    grid-area: signin-button;
    text-align: center;
}

.input-group input[type="email"],
.input-group input[type="password"] {
    width: 100%;
    padding: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    color: #000;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container .button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #f9f9f9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.form-container .button:hover {
    background-color: #45a049;
}

.form-container .signin-button .register-button {
    background-color: #4CAF50;
    color: #f9f9f9;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    width: 75%;
    text-align: center;
    box-sizing: border-box;
}

.form-container .signin-button .register-button:hover {
    background-color: #45a049;
}

footer {
    grid-area: footer;
    background-color: #4CAF50;
    color: #f9f9f9;
    text-align: center;
    place-content: center;
}

i {
    margin: 5px;
}