/* General Style */
* {
    background-color: #E5D0AC;
    color: #6D2323;
    margin: 0%;
    padding: 0%;
    border: 0px;
    font-family: sans-serif;
}

/* Navigation Style */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A31D1D;
    color: #FEF9E1;
}

li {
    float: right;
    color: #FEF9E1;
    background-color: #A31D1D;

}

li a {
    display:inline-table;
    color: #FEF9E1;
    background-color: #A31D1D;
    text-align: right;
    padding: 14px 16px;
    text-decoration-line: none;
}
 /* Main Style */
main {
    margin: 1%;
    padding: 2%;
}

h1 {
    text-align: center;
    margin: 2%;
}

/* Form Style */
form {
    margin-top: 2%;
    margin-bottom: 2%;
}

table, tbody, th, tr, td {
    background-color: #A31D1D;
    color: #FEF9E1;
    align-items: center;
    text-align: center;
    font-size: 15px;
    margin: auto;
    width: 30%;
    padding: 1%;
}

label {
    background-color: #A31D1D;
    color: #FEF9E1;
    font-size: 16px;
}

input {
    background-color: #FEF9E1;
    color: #6D2323;
}

/* Button Style */
.button {
    background-color: #FEF9E1;
    border: none;
    color: #6D2323;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
    background-color: #fcdc3e;
    color: #6D2323;
}

.button:active {
    background-color: #3d1515;
    box-shadow: 0 5px #805050;
    transform: translateY(4px);
}

/* Footer Style */
footer{
    background-color: #A31D1D;
    color: #FEF9E1;
    align-items: center;
    text-align: center;
    padding: 2%;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #FEF9E1;
    background-color: #A31D1D;
    text-decoration-line: none;
}