body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}

/* All links with the same style*/
a {
    color: #f9f9f9;
    text-decoration: none;
}
.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "navbar"
        "main"
        "footer";
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-area: header;
    background-color: #4CAF50;
    color: #f9f9f9;
    place-content: center;
    text-align: center; /* Center the header content */
}

header h2 {
    margin: 0 1rem; /* Space between header items */
}

nav {
    grid-area: navbar;
    background-color: #4CAF50;
    color: #f9f9f9;
    place-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Horizontal navigation */
    justify-content: right; /* Move to the right of the bar the navigation items */
}

nav li {
    margin: 0 0.5rem; /* Space between navigation items */
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    flex: 1;
    background-color: #000;
    color: #f9f9f9;
}

main h1 {
    align-self:center;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
}

.form-container {
    width: 50%;
    max-width: 500px; /* Ajusta el ancho máximo según tus necesidades */
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    grid-gap: 15px; /* Espacio entre filas y columnas */
}

.input-group {
    display: flex;
    flex-direction: column;
}

.button-group {
    display: flex;
    align-items: center;
    gap: 10px;
    grid-column: 1 / 3; /* Ocupa ambas columnas */
}

.form-container label {
    margin-bottom: 5px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input[type="email"],
.input-group input[type="password"] {
    width: calc(100% - 12px); /* Full width with padding included */
    padding: 8px;
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    color: #000;
    border-radius: 5px;
    box-sizing: border-box;
}

.button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #f9f9f9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: #45a049;
}

footer {
    grid-area: footer;
    background-color: #4CAF50;
    color: #f9f9f9;
    text-align: center;
    place-content: center;
}

footer a {
    color: #f9f9f9;
    text-decoration: none;
}

i {
    margin: 5px;
}